/* Base Style Rules */
html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: auto;
  min-width: 700px;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #ecede3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(50, 45, 45);
}

/* Header & Side Nav Style Rules */
header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  padding-top: 8px;
  background-color: #3b2b24;
  color: whitesmoke;
}

h1#site-title {
  display: block;
  text-align: center;
  padding: 8px;
  font-family: Cambria, Cochin, Georgia, Times;
  color: #a95757;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 8px;
  background-color: #8d7361;
  color: whitesmoke;
}

a.nav-link {
  display: block;
  margin-right: 8px;
  padding: 8px;
  border-bottom: 4px solid transparent;
  color: inherit;
  text-decoration: none;
}

a.nav-link:hover {
  background-color: #c9bbae;
  color: rgb(70, 70, 70);
  border-bottom: 4px solid #a95757;
}

div#side-nav {
  position: fixed;
  left: 8px;
  top: calc(56px + 15%);
  z-index: 2;
  display: inline-block;
  padding: 8px;
  background-color: rgb(50, 45, 45);
  color: whitesmoke;
}

a.side-nav-link {
  display: block;
  margin-bottom: 8px;
  padding: 8px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: border-bottom 0.5s;
}

a.side-nav-link:hover {
  background-color: rgb(60, 55, 55);
  border-bottom: 2px solid whitesmoke;
}

/* Content Column (Desktop) */
@media (min-width: 800px) {
  main#scrollable {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    margin-top: calc(28px + 5%);
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* Content Column (Smaller Screens) */
@media (max-width: 799px) {
  main#scrollable {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    margin-top: calc(28px + 5%);
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Info Sections */
section#welcome-section {
  display: block;
  text-align: center;
  background: linear-gradient(180deg, #dce2ba, #ecede3);
  border-bottom: 2px dotted #c3beba;
  padding: 8px;
}

section.description-section {
  display: block;
  margin-bottom: 16px;
  padding: 8px;
}

h3.section-heading {
  display: block;
  margin-bottom: 4px;
  padding: 4px 0 4px 0;
  text-decoration: underline;
}

h4#error-banner {
  display: block;
  text-align: center;
  margin-top: 8px;
  padding: 8px;
  background-color: rgb(45, 45, 45);
  color: #c95757;
}

div.side-img-box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

img#welcome-img {
  width: 50%;
  border: 2px solid #c3beba;
}

img.side-img {
  position: relative;
  width: 90%;
  border: 2px solid #5c5c5c;
}

img.side-img:hover {
  animation-name: bob;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes bob {
  0% {top: 0px;}
  50% {top: -10px;}
  100% {top: 10px;}
}

/* Footer */
footer {
  display: block;
  padding: 8px;
  background-color: #8d7361;
  color: whitesmoke;
}

code {
  font-family: Courier, monospace;
  background-color: whitesmoke;
  color: #c95757;
}
