/*
  works.css
  Styling for dynamic poem content on pages.
  Derek Tan 
*/

div#work-panels {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  padding: 8px 4px;
  border-top: 2px solid #c0d6a7;
}

div.work-section {
  display: block;
  margin: 8px;
  padding: 4px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #dce2ba;
  background-color: #dce2ba;
  color: inherit;
  transition: border-left-color 0.25s;
}

div.work-section:hover {
  border-left-color: #c0d6a7;
}

p.work-content {
  display: block;
  margin: 0;
  padding: 8px 4px;
  color: inherit;
}
