/*
  works.css
  Styling for dynamic poem content on pages.
  Derek Tan 
*/

/* works.php styling */
div#work-panels {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  padding: 8px 0;
  border-top: 2px solid #adc591;
}

div.work-section {
  display: block;
  padding: 4px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #dce2ba;
  background-color: #dce2ba;
  color: inherit;
  transition: border-left-color 0.25s; /* for emphasis of a poem post */
}

div.work-section:hover {
  border-left-color: #adc591;
}

p.work-content {
  display: block;
  margin: 0;
  padding: 8px 4px;
  color: inherit;
}

/* poempanel.php styling */
ul#usr-work-list {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  background-color: #dce2ba;
  list-style: none;
}

@keyframes sidepop {
  0% { left: 0; }
  50% { left: calc(8px + 1.25%); }
  100% { left: 0; }
}

li.work-brief {
  position: relative;
  left: 0;
  display: block;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #c0d6a7;
  color: inherit;
}

li.work-brief:hover {
  animation-name: sidepop;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}